.list {
  list-style: none;
}

.item {
  cursor: pointer;
}

.itemNameAndButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.itemNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.active {
  color: #007bff;
}
