/* Ваш стилізований інпут */
.input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--secondaryColor);
  border-radius: 5px;
  min-width: 300px;
}

.input:focus {
  outline: none;
  border-color: var(--mainColor);
}
